GROUP1_WEB_PORT=5001
GROUP2_WEB_PORT=5002
GROUP3_WEB_PORT=5003
GROUP4_WEB_PORT=5004

GROUP1_SSH_PORT=2201
GROUP2_SSH_PORT=2202
GROUP3_SSH_PORT=2203
GROUP4_SSH_PORT=2204

ANALYST_USER=analyst
ANALYST_PASSWORD=analyst123

BENIGN_USERNAME=alice
BENIGN_PASSWORD=password123
BENIGN_MIN_DELAY=4
BENIGN_MAX_DELAY=12
